body.no-scroll {
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: space-between;
  span {
    cursor: pointer;
  }

}

.index {
  background-color: var(--index);
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  border-left: 1px solid var(--border);
  padding: 10px;
  font-size: 16px;
  z-index: 100;
  input {
    margin: 10px;
    padding: 5px;
    color: var(--text);
    background-color: var(--primary);
    border: 1px solid var(--border);
  }
  select {
    margin: 10px;
    padding: 5px;
    background-color: var(--primary);
    color: var(--text);
  }
  h1 {
    margin: 10px 10px;
  }
  span {
    margin: 0 10px;
  }
  .recipe-index-item {
    margin: 10px 0;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  .author-section {
    margin: 10px 0;
  }
}

.switch {
  cursor: pointer;
}

.button-container {
  background-color: transparent;
  margin: 5px 0;
  display: inline-flex;
  border: none;
  box-shadow: inset 1px 1px 0 black, inset -1px -1px 0 black;
  cursor: pointer;
  &:hover {
    span {
      transform: translate(-3px, -3px);
    }
  }
  &:focus {
    span {
      transform: translate(-3px, -3px);
    }
  }
  span {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--border);
    cursor: pointer;
    background-color: var(--button);
    color: var(--complementary);
    transition: transform 0.1s linear;
  }
  &.main-button {
    box-shadow: inset 1px 1px 0 black, inset -1px -1px 0 black;
    span {
      background-color: var(--complementary);
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }
  &.logout {
    width: 138.219px;
    text-align: center;
  }
}

.toggle {
  cursor: pointer;
}

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal {
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  max-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--primary);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.633);
  z-index: 100;
}

.recipe-card {
  color: var(--text);
  background-color: var(--recipe-card);
  width: 60%;
  margin: 10px 0;
  position: relative;
  border: 1px solid var(--border);
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

.burger {
  display: none;
}

.mobile-index-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 99;
  &.visible {
    display: block;
  }
}

.separator {
  margin: 10px 0 10px 0;
  border-bottom: 1px solid var(--border);
}

#volumetric-button {
  display: flex;
  width: 138.219px;
  text-align: center;
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 600px) {
  header {
    width: 100%;
  }
  .burger {
    display: block;
    margin: 15px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
  }
  .index {
    border: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: var(--index);
    position: absolute;
    left: 0;
    top: 0;
    width: 95%;
    margin: 0;
    font-size: 12px;
    padding: 0 10px;
  }
  .index.visible {
    background-color: var(--index);
    position: absolute;
    left: 0;
    top: 0;
    overflow-y: auto;
    width: 95%;
    max-height: 20em;
    margin: 0;
    border: none;
    font-size: 12px;
  }
  .recipe-card {
    width: 85%;
  }
}

.theme-select {
  display: flex;
  text-align: center;
  select {
    width: 138.219px;
    padding: 4px 5px;
    margin: 3px 0;
    background-color: var(--button);
    color: var(--complementary);
    border: 1px solid var(--border);
    font-size: 16px;
  }
}