.button-container {
  margin: 5px 0;
  display: inline-flex;
  border: none;
  box-shadow: inset 1px 1px 0 black, inset -1px -1px 0 black;
  cursor: pointer;
  &:hover {
    span {
      transform: translate(-3px, -3px);
    }
  }
  &:focus {
    span {
      transform: translate(-3px, -3px);
    }
  }
  span {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: white;
    transition: transform 0.1s linear;
  }
}

.recipe-card {
  width: 700px;
  margin: 10px 0;
  position: relative;
  border: 1px solid lightgray;
  padding: 0px 20px 10px 20px;
  display: flex;
  flex-direction: column;
}

#volumetric-button {
  display: flex;
  width: 138.219px;
  text-align: center;
  span {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}