h1 {
  display: flex;
  text-align: left;
  width: 97%;
  margin: 10px;
}

form {
  width: 100%;
  input {
    width: 60%;
    margin: 5px 10px 10px 0;
    padding: 5px;
  }
  textarea {
    width: 60%;
    margin: 5px 10px 10px 0;
    padding: 3px;
  }
}

label {
  font-size: 18px;
}

.button-container {
  margin: 5px 0 15px 0;
  &.small {
    font-size: 12px;
  }
}

.ingredient-header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  &:hover {
    text-decoration: underline;
  }
}

.instruction-header {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.ingredient {
  border: 1px solid lightgray;
  width: 60%;
  padding: 10px;
  margin: 10px 0;
  input {
    width: 95%;
  }
  textarea {
    width: 95%;
  }
}

.measurements {
  display: flex;
  justify-content: space-between;
  width: 95%;
  input {
    width: 100%;
  }
}

.close {
  cursor: pointer;
}

.chevron {
  margin: 0 10px;
}

#name {
  width: 60%;
}

#preamble {
  width: 60%;
}