h2 {
    max-width: 50%;
    &.toggle {
        cursor: pointer;
    }
}

h3 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 10px;
    padding: 0;
    li {
        margin: 10px 30px;
    }
}

ol {
    margin: 10 0;
    li {
        margin: 10px 0 21px 0;
    }
}

.toggle-container {
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease;
    .header {
        min-width: 125px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            margin-left: 15px;
        };
    };
    .instructions-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .ingredients-container {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: left;
    }
}

.chevron {
    transform: rotate(0deg);
    transition: all 0.3s ease;
    &.flipped {
        transform: rotate(180deg);
    }
}

.options-container {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 15px;
    display: flex;
    .options {
        cursor: pointer;
        color: gray;
        &:hover {
            color: black;
        }
    }
    .options-menu {
        opacity: 0;
        font-size: 12px;
        background-color: white;
        border: 1px solid black;
        border-radius: 8px;
        position: absolute;
        right: 0px;
        top: 30px;
        z-index: 100;
        transform: translate(0, 0);
        transition: all 0.3s ease;
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                display: flex;
                margin: 4px;
                padding: 4px 6px;
                border-radius: 5px;
                min-width: 60px;
                justify-content: space-between;
                line-height: 12px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    .visible {
        opacity: 1;
        transform: translate(-10px, 0);
    }
}

.ingredient-list {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    display: block;
    &.visible {
        max-height: 100%;
    }
}

.instruction-list {
    max-height: 0;
    transition: max-height 0.3s ease;
    overflow: hidden;
    &.visible {
        max-height: 100%;
    }
}

.collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    &.visible {
        max-height: 100%;
    }
}